.Body {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  width: 100%;

  & .BodyContainer {
    color: var(--conun-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;

    @media only screen and (max-width: 800px) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
    }

    & .TextContainer {
      width: 30%;

      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        width: 50%;
      }

      @media only screen and (max-width: 768px) {
        width: 90%;
      }

      & .Paragraph {
        & .Title {
          color: var(--conun-green);
          font-family: "Chakra Petch", sans-serif;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0.04em;
          line-height: 149%;
          margin-bottom: 7px;
        }

        & .Description {
          font-size: 0.9rem;
          font-weight: normal;
          letter-spacing: 0.045em;
          line-height: 200%;
          margin-bottom: 30px;
        }
      }
    }

    & .DiagramContainer {
      width: 55%;

      @media only screen and (max-width: 800px) {
        padding: 10%;
        width: 100%;
      }

      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
      }
    }
  }
}
