.AboutPage {
  align-items: center;
  background-color: var(--conun-bg-blue);
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;

  & .LeftBlocks {
    left: 0;
    margin-top: 40px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 40%;
  }

  & .RightBlocks {
    bottom: -90px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width: 40%;
  }

  & .AboutIntroSection {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 350px 0;
    width: 70%;

    & .AboutLeftContainer {
      flex: 30%;
      text-transform: uppercase;
      z-index: 9;

      & > .SubTitle {
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
      }

      & > .MainTitle {
        background: #a7cfdf;
        background: -webkit-linear-gradient(#a7cfdf 5%, #23538a 100%);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: "Teko", sans-serif;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 0.04em;
        line-height: 92.5%;
        -webkit-text-fill-color: transparent;
      }
    }

    & .AboutRightContainer {
      flex: 50%;
      z-index: 9;

      & .Title {
        font-size: 1.8rem;
        text-transform: uppercase;
      }
      & .Description {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 21px 0;
      }
      & .ButtonContainer {
        margin-top: 50px;

        & .WhitepaperLink {
          background: var(--conun-blue-gradient);
          border-radius: 30px;
          box-shadow: var(--conun-blue-shadow);
          color: var(--conun-white);
          font-size: 18px;
          font-weight: 500;
          padding: 10px 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .AboutPage {
    padding: 100px 20px;
    & .AboutIntroSection {
      margin-bottom: 381px;
      padding: 0 20px;
      width: 100%;
      & .AboutLeftContainer,
      & .AboutRightContainer {
        flex: 100%;
      }
    }
  }
}
