.AboutPage {
  background-image: url("../../../assets/background/blocks_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--conun-blue);
  height: 100%;
  padding: 0 200px;

  & .AboutIntroSection {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: 350px 0;

    & .AboutLeftContainer {
      flex: 30%;
      text-transform: uppercase;

      & > .SubTitle {
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
      }

      & > .MainTitle {
        background: #a7cfdf;
        background: -webkit-linear-gradient(#a7cfdf 5%, #23538a 100%);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: "Teko", sans-serif;
        font-size: 70px;
        font-weight: 600;
        letter-spacing: 0.04em;
        line-height: 92.5%;
        -webkit-text-fill-color: transparent;
      }
    }

    & .AboutRightContainer {
      flex: 50%;

      & .Title {
        font-size: 32px;
      }
      & .Description {
        font-size: 18px;
        font-weight: 400;
        margin: 21px 0;
      }
      & .ButtonContainer {
        margin-top: 50px;

        & .WhitepaperLink {
          background: var(--conun-blue-gradient);
          border-radius: 30px;
          box-shadow: var(--conun-blue-shadow);
          color: var(--conun-white);
          font-size: 18px;
          font-weight: 500;
          padding: 10px 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .AboutPage {
    padding: 100px 20px;
    & .AboutIntroSection {
      margin-bottom: 381px;
      padding: 0 20px;
      width: 100%;
      & .AboutLeftContainer,
      & .AboutRightContainer {
        flex: 100%;
      }
    }
  }
}
