.Intro {
  align-items: center;
  background-color: var(--conun-bg-blue-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 0;

  & .IntroContainer {
    width: 60%;

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      width: 70%;
    }

    & .Card {
      align-items: center;
      color: var(--conun-blue);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 50px;
        width: 90%;
      }

      & .TextContainer {
        display: flex;
        flex-direction: column;
        width: 40%;

        @media only screen and (max-width: 800px) {
          width: 90%;
        }
      }

      & .DiagramContainer {
        width: 50%;

        @media only screen and (max-width: 800px) {
          width: 90%;
        }
        @media only screen and (min-width: 769px) and (max-width: 1024px) {
          width: 50%;
        }
      }
    }

    & .IconContainer {
      align-items: center;
      color: var(--conun-blue);
      display: flex;
      flex-direction: column;
      font-weight: 800;
      text-transform: uppercase;
      width: 100%;

      @media only screen and (max-width: 800px) {
        width: 90%;
      }

      & .Title {
        margin-top: 100px;
      }

      & .Icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;

        & > div {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-size: 0.75rem;
          justify-content: flex-start;
          letter-spacing: -0.02em;
          text-align: center;
          width: 120px;

          @media only screen and (max-width: 800px) {
            width: 50%;
          }
          @media only screen and (min-width: 769px) and (max-width: 1024px) {
            width: 60%;
          }

          & .Icon {
            margin-bottom: 20px;
            width: 80%;
          }
        }
      }
    }
  }
}
