.LinkButton {
  align-self: right;
  background: linear-gradient(99.17deg, #77aceb 12.18%, #1e4489 106.22%);
  border-radius: 30px;
  color: var(--conun-white);
  font-size: 0.8rem;
  padding: 10px 20px;
}
