.TeamPage {
  align-items: center;
  background-color: var(--conun-bg-blue);
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  width: 100%;

  & .TeamIntroContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;

    @media only screen and (max-width: 800px) {
      width: 90%;
    }

    & .LogoContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 40%;
      justify-content: center;
      position: relative;
      width: 60%;

      & .ConunLogo {
        position: absolute;
        width: 100%;
      }

      & .ConunTitle {
        font-size: 2rem;
        font-weight: 600;
        z-index: 2;

        @media only screen and (max-width: 800px) {
          font-size: 1.2rem;
        }
      }
    }

    & .TextContainer {
      font-size: 1rem;
      font-weight: normal;
      height: 60%;
      line-height: 149%;
      margin-top: 10%;
      text-align: center;
      width: 100%;

      @media only screen and (max-width: 800px) {
        margin-top: 0;
        width: 90%;
      }

      & .Title {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.04em;
        margin-bottom: 5%;
        text-transform: uppercase;
      }

      & .TeamTabContainer {
        color: #0993b1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
        width: 100%;

        @media only screen and (max-width: 800px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        & .Tab {
          border-right: 1px solid #0993b1;
          padding: 0 10px;

          @media only screen and (max-width: 800px) {
            border: none;
          }

          &:hover {
            background-color: var(--team-pale-blue);
            cursor: pointer;
          }

          & .TabItem {
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 149%;
            padding: 10px;
            width: 100%;
          }
        }
      }
    }
  }

  & .TeamContainer {
    align-items: center;
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
    width: 70%;

    @media only screen and (max-width: 800px) {
      border: none;
      margin-top: 10%;
    }

    & .TeamImageContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      row-gap: 50px;
      width: 100%;
    }
  }
}
