.Button {
  border: none;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
  cursor: pointer;
  min-width: 100px;
  padding: 2% 2.5%;

  @media only screen and (max-width: 800px) {
    padding: 10px 20px;
  }

  &.primary {
    background: var(--conun-blue-gradient);
    color: var(--conun-white);
  }

  &.secondary {
    background: var(--conun-skyblue-gradient);
    color: var(--conun-white);
  }

  &.round {
    border-radius: 20px;
  }
}

.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
