.Button {
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 35px;
  min-width: 100px;

  &.primary {
    background: var(--conun-skyblue-gradient);
    color: var(--conun-white);
  }

  &.secondary {
    background: var(--conun-blue-gradient);
    color: var(--conun-white);
  }

  &.round {
    border-radius: 20px;
  }

  &.margin {
    margin-right: 10px;
  }
  &.small {
    padding: 10px 20px;
  }

  &.textSmall {
    font-size: 16px;
    @media only screen and (max-width: 800px) {
      font-size: 10px;
    }
  }
}

.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
