.Intro {
  align-items: center;
  background-color: var(--conun-bg-blue-dark);
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  width: 100%;

  @media only screen and (max-width: 800px) {
    padding: 100px 0;
  }

  & .IntroContainer {
    color: var(--conun-blue);
    max-width: 1200px;
    width: 70%;

    @media only screen and (max-width: 800px) {
      width: 90%;
    }

    & .Caption {
      text-align: center;
      text-transform: uppercase;
    }

    & .Description {
      font-family: Barlow, sans-serif;
      font-size: 1rem;
      font-weight: normal;
      letter-spacing: 0.045em;
      line-height: 180%;
    }

    & .ChartContainer {
      padding-top: 10%;
    }
  }
}
