.WhitePaperCard {
  align-items: center;
  background-image: url("../../../assets/background/whitepaper-bg-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: var(--conun-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 565px;
  min-width: 300px;
  padding: 5%;
  text-align: center;
  width: 35%;

  @media only screen and (min-width: 415px) and (max-width: 1204px) {
    padding: 10%;
    width: 45%;
  }
  @media only screen and (max-width: 414px) {
    height: auto;
    padding: 15%;
    width: 90%;
  }

  &.whitepaperGreen {
    background-image: url("../../../assets/background/whitepaper-bg-green.png");
  }

  & .TextContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Teko, sans-serif;
    height: 30%;
    row-gap: 30px;

    & .Title {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 92.5%;
      text-transform: uppercase;
      width: 200px;
    }

    & .Description {
      font-weight: normal;
    }
  }

  & .DropdownContainer {
    font-size: 0.8rem;
    padding-top: 20px;
    width: 170px;

    & .LanguageSelector {
      background-color: var(--conun-white);
      border-radius: 10px;
      color: var(--conun-blue);
      margin-top: 20px;
      padding: 5px 0;
      width: 100%;

      & .DropdownIcon {
        padding-left: 5px;
      }

      & .SelectedGreen {
        align-items: center;
        color: var(--conun-green);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 0;

        & .WorldIcon {
          fill: var(--conun-green);
          margin-right: 10px;
          width: 18px;
        }
      }

      & .SelectedBlue {
        align-items: center;
        color: var(--conun-blue);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5% 0;

        & .WorldIcon {
          fill: var(--conun-blue);
          margin-right: 10px;
          width: 18px;
        }
      }

      & .LanguageOptions {
        list-style: none;
        padding: 20px;
      }
    }
  }
}
