.WhitePaperCard {
  align-items: center;
  background-image: url("../../../assets/background/whitepaper-bg-green.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: var(--conun-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  min-width: 300px;
  padding: 40px 30px;
  text-align: center;
  width: 350px;

  @media only screen and (min-width: 768px) and (max-width: 1204px) {
    padding: 40px 20px;
  }
  @media only screen and (max-width: 767px) {
    height: 350px;
    padding: 40px 20px;
    width: 90%;
  }

  & .TextContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Teko, sans-serif;
    height: 30%;
    row-gap: 30px;

    & .Title {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      width: 200px;
    }

    & .Description {
      font-family: sans-serif;
      font-size: 1rem;
      font-weight: normal;
    }
  }

  & .DropdownContainer {
    font-size: 0.8rem;
    padding-top: 20px;
    width: 170px;

    & .DownloadButton {
      border: 1px solid white;
      border-radius: 15px;
      padding: 10px;

      &:hover {
        background: white;
        color: var(--conun-blue);
        font-weight: 600;
      }
    }
  }
}
