.Information {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 430px;

  & .InfoContainer {
    flex: 1 1 590px;
    display: flex;
    flex-direction: column;
  }
}
