.DropdownGreenHover {
  align-items: center;
  color: var(--conun-green);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 7px;

  &:hover {
    background: #c7e7e9;
    border-radius: 10px;
  }
}
