.TextContainer {
  color: var(--conun-blue);
  width: 100%;

  & .Header {
    color: var(--conun-blue);

    & .Caption {
      margin-bottom: 15px;
      text-transform: uppercase;

      &.small {
        font-size: 0.8rem;
      }

      &.medium {
        font-size: 0.8rem;
      }

      &.green {
        color: #0993b1;
      }

      &.sky {
        color: #77aceb;
      }

      &.blue {
        color: var(--conun-blue);
      }
    }

    & .Title {
      font-weight: 600;

      &.small {
        font-size: 1.2rem;
      }

      &.medium {
        font-size: 1.4rem;
      }

      &.large {
        font-size: 1.6rem;
      }

      &.green {
        color: #0993b1;
      }

      &.sky {
        color: #77aceb;
      }

      &.blue {
        color: var(--conun-blue);
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .TextContainer {
    & .Title {
      font-weight: 500;
      margin-bottom: 18px;

      &.small {
        font-size: 1rem;
      }

      &.medium {
        font-size: 1.2rem;
      }

      &.large {
        font-size: 1.8rem;
      }
    }
  }
}
