.IconContainer {
  align-items: center;
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  font-weight: 800;
  text-transform: uppercase;
  width: 100%;

  @media only screen and (max-width: 800px) {
    width: 100%;
  }

  & .Title {
    margin-top: 100px;
  }

  & .Icons {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
    min-width: 120px;

    & .IconBox {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      height: 120px;
      justify-content: flex-start;
      letter-spacing: -0.02em;
      text-align: center;
      width: 120px;
      background-color: blueviolet;

      @media only screen and (max-width: 768px) {
        width: 30%;
      }
      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
      }

      & .Icon {
        width: 100%;
      }

      & .Text {
        margin-top: 20px;
      }
    }
  }
}
