.VerticalCard {
  align-items: center;
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  text-align: center;

  &.round {
    border-radius: 10px;
  }
}
