.HeaderContainer {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  padding-bottom: 20px;
}

.Search {
  align-items: center;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 800px) {
    flex-direction: column;

    form {
      padding-bottom: 10px;
    }
  }

  & form {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    & button {
      background-color: inherit;
      border: none;
      border-radius: 20px;
      color: grey;
      cursor: pointer;
      height: 17px;
      position: absolute;
      right: 15px;
      width: 17px;
      z-index: 100;
    }

    & input {
      background-color: var(--searchbox-background-blue);
      border: 1px solid lightgrey;
      border-radius: 20px;
      padding: 7px 0 7px 20px;
      width: 250px;
      @media only screen and (max-width: 800px) {
        width: 213px;
      }
    }

    & input:focus {
      border: 1px solid rgb(185 185 185);
      outline: none;
    }
  }
}
