.Benefits {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  width: 100%;

  @media only screen and (max-width: 800px) {
    padding: 100px 0;
  }

  & .BenefitsContainer {
    max-width: 1200px;
    text-align: center;
    width: 70%;

    p {
      text-transform: uppercase;
    }

    @media only screen and (max-width: 800px) {
      width: 90%;
    }

    & .Card {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 100px;

      @media only screen and (max-width: 800px) {
        flex-direction: column;
        margin-top: 30px;
      }

      & .ChartContainer {
        width: 40%;

        @media only screen and (max-width: 800px) {
          width: 90%;
        }
      }

      & .TextContainer {
        display: flex;
        flex-direction: column;
        width: 50%;

        @media only screen and (max-width: 800px) {
          margin-top: 40px;
          width: 100%;
        }

        & .TextBox {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-bottom: 50px;
          text-align: left;
        }
      }
    }
  }
}
