.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

  &.inversed {
    flex-direction: row-reverse;
  }

  & .TitleContainer {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 45%;

    @media only screen and (max-width: 768px) {
      align-items: center;
      margin-bottom: 30px;
      width: 100%;
    }

    &.inversed {
      align-items: flex-start;

      @media only screen and (max-width: 768px) {
        align-items: center;
      }
    }

    & .TitleBox {
      background: rgb(255 255 255 / 30%);
      border: 3px solid var(--conun-white);
      border-radius: 10px;
      color: #77aceb;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      height: 114px;
      justify-content: center;
      padding: 2%;
      width: 214px;

      @media only screen and (max-width: 768px) {
        align-items: center;
        background-color: var(--conun-blue);
        color: var(--conun-white);
        height: 50px;
        width: 60%;
      }

      & .Year {
        font-size: 1.4rem;
        font-weight: bold;
        height: 72px;
        text-align: end;
        text-transform: uppercase;
        width: 80%;

        @media only screen and (max-width: 768px) {
          text-align: center;
        }

        &.inversed {
          text-align: start;

          @media only screen and (max-width: 768px) {
            text-align: center;
          }
        }
      }
    }
  }

  & .CardContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 45%;
    @media only screen and (max-width: 768px) {
      align-items: center;
      width: 100%;
    }

    &.inversed {
      align-items: flex-end;
      @media only screen and (max-width: 768px) {
        align-items: center;
      }
    }

    & .RoadmapCard {
      align-items: flex-start;
      background: rgb(255 255 255 / 30%);
      border: 3px solid #fff;
      height: 100%;
      margin-bottom: 53px;
      padding: 20px;
      text-align: start;
      width: 60%;

      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        margin-bottom: 20px;
        width: 80%;
      }
      @media only screen and (max-width: 768px) {
        margin-bottom: 20px;
        width: 90%;
      }

      &.inversed {
        align-items: flex-end;
        text-align: end;
      }

      & .Description {
        color: #77aceb;
        margin-top: 20px;
      }
    }
  }
}
