.NavMenuElement {
  align-items: center;
  border-right: 1px solid var(--conun-blue);
  display: flex;
  padding: 10px 20px;
  position: relative;
  width: 120px;

  & .NavMenuCell {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    left: 0;
    padding-top: 2px;
    position: absolute;
    top: 0;
    width: 100%;

    & .CellInner {
      &:hover {
        text-decoration: underline;
      }

      &:active {
        transform: translateY(1px);
      }
    }

    & .NonClick {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    & .SubMenu {
      background-color: white;
      border-radius: 10px;
      display: none;
      flex-direction: column;
      gap: 20px;
      left: 20px;
      padding: 25px;
      position: absolute;
      top: 30px;
      width: 360px;

      & .SubItem {
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 12px;

        & .Title {
          color: #1e4489;
          font-size: 16px;
          font-weight: 800;
        }

        & .Description {
          color: #0993b1;
          font-size: 14px;
          font-weight: normal;
          text-transform: capitalize;
        }

        &:hover {
          background-color: rgb(193 193 193 / 21.1%);
        }

        &:active {
          transform: translateY(1px);
        }
      }
    }

    &:hover {
      &.SubMenuParent {
        height: 300px;

        & .SubMenu {
          display: flex;
        }
      }
    }
  }
}
