@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600&display=swap");

:root {
  --conun-blue: #1d428a;
  --conun-bg-blue: #eff7fc;
  --conun-skyblue: #77aceb;
  --text-white: #fff;
  // shadow

  --conun-blue-shadow: 10px 10px 30px rgba(51, 88, 159, 0.3);
  --conun-btn-gradient: linear-gradient(
    99.17deg,
    #77aceb 12.18%,
    #1d428a 106.22%
  );
}

html,
body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
