.Appwrapper {
  height: 100vh;
  position: relative;
  width: 100%;

  & .LayoutHeader {
    height: 50%;
    left: 0;
    padding: 40px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;

    @media only screen and (max-width: 800px) {
      padding: 20px 0;
    }
  }
}
