.Appwrapper {
  height: 100vh;
  position: relative;
  width: 100%;

  &.ko {
    font-family: "IBM Plex Sans KR", sans-serif;
  }

  &.en {
    font-family: Barlow, sans-serif;
  }

  & .LayoutHeader {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
}
