.IntroContainer {
  align-items: center;
  background: var(--conun-bg-blue-dark);
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  width: 100%;

  & .HorizontalCard {
    max-width: 1200px;
    width: 70%;

    & .TextContainer {
      width: 40%;

      & .Caption {
        font-family: "Chakra Petch", sans-serif;
      }

      & .Description {
        color: var(--conun-blue);
        font-size: 1rem;
        font-weight: normal;
        line-height: 149%;
        margin-top: 14px;
      }
    }

    & .ImageContainer {
      width: 40%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .IntroContainer {
    padding: 100px 0;

    & .HorizontalCard {
      flex-direction: column;
      width: 100%;

      & .TextContainer {
        width: 90%;
      }

      & .ImageContainer {
        padding: 20%;
        width: 100%;
      }

      &.reversed {
        flex-direction: column;
      }
    }
  }
}
