.UseCaseSection {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;

  & .Title {
    background-color: var(--conun-white);
    color: var(--conun-blue);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 95px;
    padding: 10px 30px;
    text-align: center;
  }
  & .CardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 200px;
    row-gap: 46px;
    width: 100%;

    & .UseCaseCard {
      border: 1px solid #085ed5;
      height: 600px;
      padding: 45px 50px;
      width: 27%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .UseCaseSection {
    padding-top: 100px;
    & .CardContainer {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
      width: 100%;

      & .UseCaseCard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 35px 30px;
        width: 100%;
      }
    }
  }
}
