.VerticalCard {
  align-items: center;
  background-color: var(--conun-white);
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &.medium {
    height: 585px;
    width: 400px;
  }

  &.small {
    height: 778px;
    width: 350px;
  }
  & .IconContainer {
    height: 266px;
    margin-bottom: 26px;
    width: 345px;
  }

  & .Title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  & .Description {
    font-size: 18px;
    margin-bottom: 53px;
  }
}

.HorizontalCard {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 643px;
  justify-content: space-between;
  width: 1396px;

  &.border {
    border: 1px solid #085ed5;
  }
  &.round {
    border-radius: 10px;
  }

  & .IconContainer {
    height: 643px;
    width: 679px;
  }

  & .TextContainer {
    height: 317px;
    width: 538px;

    & .Header {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      text-decoration: uppercase;
    }
    & .Title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
      text-decoration: uppercase;
    }

    & .Description {
      font-size: 18px;
      line-height: 172%;
      margin-bottom: 70px;
    }
  }
}
