.VerticalCard {
  &.round {
    border-radius: 10px;
  }

  & .TextContainer {
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    word-wrap: break-word;

    & .Header {
      font-weight: normal;
      margin-bottom: 10px;

      &.small {
        font-size: 1rem;
      }

      &.medium {
        font-size: 1.2rem;
      }
      &.large {
        font-size: 1.4rem;
      }
      &.green {
        color: var(--conun-green);
      }
      &.sky {
        color: var(--conun-skyblue);
      }
    }

    & .Title {
      color: var(--conun-blue);
      font-weight: 500;
      // margin-bottom: 15px;
      text-transform: uppercase;

      &.small {
        font-size: 1.2rem;
      }

      &.medium {
        font-size: 1.4rem;
      }
      &.large {
        font-size: 2rem;
      }
    }

    & .Description {
      color: var(--conun-blue);
      font-weight: normal;
      line-height: 172%;
      margin-bottom: 40px;

      &.small {
        font-size: 0.8rem;
      }

      &.medium {
        font-size: 1.2rem;
      }
      &.large {
        font-size: 1rem;
      }
      &.green {
        color: var(--conun-green);
      }
      &.sky {
        color: var(--conun-skyblue);
      }
    }

    & .Button {
      align-self: center;
      width: 150px;
    }
  }
}

.RoadMapCard {
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
  padding: 20px;
  width: 80%;

  &.round {
    border-radius: 10px;
  }
  & .TextContainer {
    color: #77aceb;

    & .Header {
      font-size: 1rem;
      font-weight: 500;
    }
    & .Title {
      color: #0993b1;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 143%;
      margin: 10px 0;

      & .Description {
        font-size: 1.1rem;
        line-height: 172%;
      }
    }
  }
}

.HorizontalCard {
  &.round {
    border-radius: 10px;
  }

  & .IconContainer {
    width: 40%;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }
  }

  & .TextContainer {
    display: flex;
    width: 40%;

    @media only screen and (max-width: 800px) {
      width: 100%;
    }
    & .Text {
      & .Header {
        color: var(--conun-blue);
        font-weight: normal;
        margin-bottom: 10px;
        text-transform: uppercase;

        &.small {
          font-size: 1rem;
        }

        &.medium {
          font-size: 1rem;
        }
        &.large {
          font-size: 1.4rem;
        }
        &.green {
          color: var(--conun-green);
        }
        &.sky {
          color: var(--conun-skyblue);
        }
      }

      & .Title {
        color: var(--conun-blue);
        font-weight: bold;
        margin-bottom: 14px;
        text-transform: uppercase;

        &.small {
          font-size: 1.2rem;
        }

        &.medium {
          font-size: 1.4rem;
        }
        &.large {
          font-size: 1.8rem;
        }
      }

      & .Description {
        font-weight: normal;
        line-height: 150%;
        margin-bottom: 34px;

        &.small {
          font-size: 0.8rem;
        }

        &.medium {
          font-size: 1rem;
        }
        &.large {
          font-size: 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .VerticalCard {
    & .TextContainer {
      padding: 30px;
    }
  }
}
