.VerticalCard {
  align-items: center;
  background-color: var(--conun-white);
  color: var(--conun-blue);
  text-align: center;

  &.round {
    border-radius: 10px;
  }

  &.large {
    height: 675px;
    width: 443px;
  }
  &.medium {
    height: 585px;
    width: 400px;
  }

  & .IconContainer {
    margin-bottom: 26px;
    width: 100%;
  }

  & .Title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
    word-wrap: break-word;
  }

  & .Description {
    font-size: 14px;
    font-weight: normal;
    line-height: 172%;
    margin-bottom: 16px;
    @media only screen and (max-width: 800px) {
      word-wrap: break-word;
    }
  }
}

.HorizontalCard {
  &.round {
    border-radius: 10px;
  }

  & .IconContainer {
    width: 40%;

    @media only screen and (max-width: 800px) {
      margin-bottom: 100px;
      width: 100%;
    }
  }

  & .TextContainer {
    width: 40%;

    @media only screen and (max-width: 800px) {
      margin-bottom: 100px;
      width: 100%;
    }

    & .Header {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      text-decoration: uppercase;
    }
    & .Title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px;
      text-decoration: uppercase;
    }

    & .Description {
      font-size: 18px;
      line-height: 172%;
      margin-bottom: 70px;
    }
  }
}

.RoadMapCard {
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
  padding: 20px;
  width: 80%;

  &.round {
    border-radius: 10px;
  }
  & .TextContainer {
    color: #77aceb;

    & .Header {
      font-size: 16px;
      font-weight: 500;
    }
    & .Title {
      color: #0993b1;
      font-size: 22px;
      font-weight: 600;
      line-height: 143%;
      margin: 10px 0;

      & .Description {
        font-size: 18px;
        line-height: 172%;
      }
    }
  }
}
