.SourceFilter {
  align-items: center;
  border-bottom: 1px solid var(--conun-blue);
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  height: 70px;
  justify-content: center;
  padding: 0 50px;

  @media only screen and (max-width: 1240px) {
    height: fit-content;
    padding: 20px;
    width: 100%;
  }

  & .Button {
    background-color: var(--team-pale-blue);
    border-radius: 30px;
    color: var(--conun-blue);
    font-size: 10px;
    font-weight: 500;
    height: 25px;
    padding: 5px 20px;
    text-transform: uppercase;

    &.filterIsActive {
      background-color: var(--conun-blue);
      color: var(--team-pale-blue);
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
