.ProductSelector {
  background-color: var(--conun-bg-blue);
  padding: 0 200px;
  width: 100%;

  & .ProductCardsNav {
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
    width: 100%;

    & .PageButtons {
      text-transform: uppercase;
      & > .PageButton {
        color: var(--conun-skyblue);
        font-size: 20px;
        font-weight: 500;
        padding: 5px 10px;

        &:hover {
          background: linear-gradient(
            99.17deg,
            #a0b6e4 12.18%,
            #83c8e3 106.22%
          );
          color: var(--conun-white);
        }
      }

      & .Partition {
        border-right: 1px solid var(--conun-skyblue);
        margin: 0 10px;
      }
    }
  }

  & .ProductCardContainer {
    align-items: center;
    color: #1d428a;
    display: flex;
    flex-direction: row;
    height: 643px;
    justify-content: space-between;
    width: 100%;

    & .Card {
      align-items: center;
      color: var(--conun-blue);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 150px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .ProductSelector {
    padding: 0 50px;
    width: 100%;

    & .ProductCardsNav {
      margin-bottom: 320px;

      & .PageButtons {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    & .ProductCardContainer {
      & .Card {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
