.ProductPage {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  min-height: 900px;
  padding-bottom: 200px;
  width: 100%;

  & .ProductPageContainer {
    width: 70%;

    & .ProductCardsNav {
      display: flex;
      justify-content: center;
      margin-bottom: 15%;
      width: 100%;

      & .Tab {
        align-items: center;
        border-right: 1px solid var(--conun-skyblue);
        display: flex;
        justify-content: center;
        width: 210px;

        &:last-child {
          border: none;
        }

        & .TabItem {
          color: var(--conun-skyblue);
          font-size: 1rem;
          font-weight: 500;
          line-height: 30px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;

          &:hover {
            background: linear-gradient(
              99.17deg,
              #a0b6e4 12.18%,
              #83c8e3 106.22%
            );
            color: var(--conun-white);
            cursor: pointer;
          }
        }
      }
    }

    & .ProductCardContainer {
      color: #1d428a;
      max-height: 643px;
      width: 100%;

      & .ImageContainer {
        width: 40%;
      }

      & .TextCard {
        width: 40%;

        & .Caption {
          text-transform: uppercase;
        }

        & .Description {
          font-size: 1rem;
          font-weight: normal;
          line-height: 149%;
          margin-top: 10px;
        }

        & .ButtonContainer {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          margin-top: 15%;
        }

        & .Button {
          background: linear-gradient(
            99.17deg,
            #a0b6e4 12.18%,
            #83c8e3 106.22%
          );
          border-radius: 30px;
          color: var(--conun-white);
          font-size: 0.8rem;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .ProductPage {
    width: 100%;

    & .ProductPageContainer {
      width: 90%;

      & .ProductCardsNav {
        display: flex;
        flex-direction: column;

        & .Tab {
          border: none;
          text-align: center;
          width: 100%;
        }
      }

      & .ProductCardContainer {
        flex-direction: column;
        padding: 10%;
        width: 100%;

        & .ImageContainer {
          width: 70%;
        }

        & .TextCard {
          margin-top: 10%;
          width: 100%;
        }
      }
    }
  }
}
