.SlideContainer {
  align-items: center;
  background-image: url("../../../../assets/background/main_haader.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  & .HorizontalCard {
    position: relative;
    width: 70%;

    & .TextContainer {
      display: flex;
      flex-direction: row;
      width: 40%;

      & .TextBox {
        display: flex;
        flex-direction: column;

        & .Description {
          color: var(--conun-blue);
          font-size: 1rem;
          font-weight: normal;
          margin-bottom: 60px;
          margin-top: 18px;
        }

        & .Button {
          font-size: 0.8rem;
          font-weight: 500;
          width: 135px;
        }
      }
    }

    & .ImageContainer {
      width: 40%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .SlideContainer {
    & .HorizontalCard {
      background-color: white;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      height: 70%;
      width: 90%;

      & .TextContainer {
        padding: 20px;
        width: 100%;

        & .TextBox {
          & .Description {
            font-size: 1.2rem;
            margin-bottom: 50px;
            margin-top: 25px;
          }

          & .Button {
            margin-bottom: 50px;
            margin-top: 25px;
          }
        }
      }

      & .ImageContainer {
        bottom: 0;
        margin-bottom: 20px;
        margin-right: 20px;
        position: absolute;
        right: 0;
      }
    }
  }
}
