.SlideContainer {
  background-image: url("../../../../assets/background/bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;

  & .Slides {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding-left: 150px;
    padding-right: 200px;
    width: 100%;

    & .SocialIconContainer {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 40%;
      margin-right: 30px;
      margin-top: 50px;

      & > .SocialIcon {
        margin-top: 7px;
        width: 30px;
      }
    }
    & .Main {
      color: var(--conun-blue);
      display: flex;
      flex-direction: column;
      height: 40%;
      justify-content: space-around;
      width: 40%;

      & .Title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.045em;
        line-height: 36px;
        text-transform: uppercase;
      }
      & .Description {
        font-size: 18px;
        font-weight: normal;
      }
      & .LearnMoreButton {
        align-items: center;
        background: var(--conun-btn-gradient);
        border-radius: 30px;
        box-shadow: 20px 20px 30px rgba(51, 88, 159, 0.4);
        color: white;
        display: flex;
        font-size: 18px;
        font-weight: 500;
        height: 34px;
        justify-content: center;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        width: 155px;
      }
    }
    & .Spacers {
      flex-grow: 1;
    }
    & .IconContainer {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: center;
      width: 50%;
      & .FirstSlideIcon {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .SlideContainer {
    height: 100%;
    width: 100%;

    & .Slides {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      height: 100%;
      padding: 100px 20px;

      & .Main {
        color: var(--conun-blue);
        height: 60%;
        width: 100%;

        & .Title {
          font-size: 16px;
          @media screen and (max-width: 960px) {
            font-size: 35px;
          }
        }
        & .Description {
          font-size: 14px;
        }
        & .LearnMoreButton {
          font-size: 12px;
          height: 28px;
          width: 100px;
        }
      }
      & .Spacers {
        flex: 1;
      }
      & .IconContainer {
        height: 35%;
        width: 100%;

        & .FirstSlideIcon {
          width: 100%;
        }
      }
    }
  }
}
