.SlideContainer {
  align-items: center;
  background-image: url("../../../../assets/background/main_haader.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  & .HorizontalCard {
    width: 70%;

    & .TextContainer {
      display: flex;
      flex-direction: row;
      width: 40%;

      & .TextBox {
        display: flex;
        flex-direction: column;

        & .Description {
          color: var(--conun-blue);
          font-size: 1rem;
          font-weight: normal;
          margin-top: 18px;
        }
        & .Button {
          font-size: 0.8rem;
          font-weight: 500;
          margin-top: 60px;
          width: 135px;
        }
      }
    }

    & .ImageContainer {
      width: 40%;
    }
  }

  & .VerticalCard {
    margin-top: 200px;
    width: 90%;

    & .ImageContainer {
      height: 50%;
      width: 80%;

      & .Caption {
        height: 50%;
        width: 80%;
      }
      & .Image {
        height: 50%;
        width: 50%;
      }
    }
    & .TextContainer {
      height: 50%;
      width: 80%;
    }
  }
}

// @media only screen and (max-width: 800px) {
//   .SlideContainer {
//     // padding-top: 100px;

//     & .HorizontalCard {
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       width: 80%;
//       height: 60%;
//       margin-top: 20px;

//       & .LeftContainer {
//         display: flex;
//         width: 100%;
//         height: 30%;
//         order: 2;

//         & .TextContainer {
//           align-items: center;
//           & .Description {
//             margin-top: 10px;
//           }
//           & .Button {
//             margin-top: 30px;

//             width: 90%;
//           }
//         }
//       }

//       & .RightContainer {
//         width: 60%;
//         height: 30%;
//         order: 1;
//       }
//     }
//   }
// }
