.VideoPage {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 100%;

  & .VideoContainer {
    height: 70%;
    width: 50%;
  }
}
