.About {
  align-items: center;
  background-color: var(--conun-bg-blue);
  padding: 300px 350px;

  & .AboutCardsSection {
    display: flex;
    flex-flow: row wrap;
    height: 540px;
    justify-content: space-between;
    width: 100%;

    & .AboutCard {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #fff 100%
      );
      border: 3px solid #fff;
      height: 100%;
      width: 32%;

      & .ImageContainer {
        height: 50%;
        width: 80%;
      }
      & .Caption {
        margin: 40px 0;
      }
    }
  }

  & .VideoContainer {
    height: 800px;
    margin-top: 200px;
    padding: 100px;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .About {
    align-items: center;
    background-color: var(--conun-bg-blue);
    padding: 100px 20px;
    & .AboutCardsSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      width: 100%;

      & .AboutCard {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    & .VideoContainer {
      height: 200px;
      padding: 0 20px;
      @media (min-width: 768px) and (max-width: 1024px) {
        height: 500px;
      }
    }
  }
}
