.FaqsPage {
  background: linear-gradient(340.97deg, #77aceb -0.07%, #d6e5f3 99.93%);
  color: var(--conun-blue);
  padding: 0 200px;
  padding-top: 260px;
  text-align: center;
  width: 100%;

  & .Title {
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  & .Description {
    font-size: 2rem;
    font-weight: normal;
  }

  & .FaqsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    text-align: left;
    width: 100%;
  }
}
