.FaqsPage {
  align-items: center;
  background: linear-gradient(340.97deg, #77aceb -0.07%, #d6e5f3 99.93%);
  color: var(--conun-blue);
  display: flex;
  flex-direction: column;
  padding: 15% 0;
  text-align: center;
  width: 100%;

  @media only screen and (max-width: 800px) {
    padding-top: 30%;
  }

  & .Title {
    font-size: 2rem;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  & .Description {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 5%;
    width: 80%;

    @media only screen and (max-width: 800px) {
      margin-bottom: 10%;
    }
  }

  & .FaqsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 60%;

    @media only screen and (max-width: 800px) {
      width: 80%;
    }
  }
}
