.historyColumn {
  display: flex;
  height: 100%;
  padding-left: 40px;

  & .verticalBar {
    border-color: #c7d5e2 var(--secondary-background-color)
      var(--secondary-background-color) #c7d5e2;
    border-style: solid;
    border-width: 4px;
    height: 100%;
    position: relative;
    width: 55px;

    & .dot {
      border: 3px solid #5179f6;
      border-radius: 50%;
      height: 12px;
      left: -8px;
      position: absolute;
      top: -8px;
      width: 12px;
      z-index: 1;
    }
  }

  & .singleYear {
    margin: 0 0 0 10px;

    & h1 {
      color: #333;
      margin-top: -20px;
    }

    & img {
      height: 50px;
      width: 50px;
    }
  }
}
