.Footer {
  background-color: var(--conun-bg-blue);
  display: flex;
  justify-content: center;
  padding: 200px 0;
  width: 100%;

  @media only screen and (max-width: 800px) {
    padding: 100px 0;
  }

  & .FooterContainer {
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    width: 65%;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      width: 90%;
    }

    & .DiagramContainer {
      align-self: flex-start;
      width: 40%;

      @media only screen and (max-width: 800px) {
        padding-bottom: 50px;
        width: 100%;
      }
    }

    & .Card {
      align-self: flex-end;
      text-align: left;
      width: 45%;
      word-break: break-word;

      @media only screen and (max-width: 800px) {
        width: 100%;
      }

      & .Description {
        margin-bottom: 50px;
      }

      & .LinkContainer {
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;

        & .Link {
          align-self: right;
          background: linear-gradient(
            99.17deg,
            #77aceb 12.18%,
            #1e4489 106.22%
          );
          border-radius: 30px;
          color: var(--conun-white);
          font-size: 0.8rem;
          padding: 10px 20px;
        }
      }
    }
  }
}
