.Footer {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 200px 0;
  width: 100%;

  @media only screen and (max-width: 800px) {
    padding: 100px 0;
  }

  & .FooterContainer {
    align-items: center;
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 65%;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      width: 90%;
    }

    div p {
      text-align: center;
    }

    & .DiagramContainer {
      width: 70%;

      @media only screen and (max-width: 800px) {
        padding-bottom: 50px;
        width: 100%;
      }
    }

    & .Card {
      width: 70%;
      word-break: break-word;

      @media only screen and (max-width: 800px) {
        width: 100%;
      }

      & .Description {
        margin-bottom: 50px;
        text-align: justify;
      }
    }
  }
}

.LinkContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  width: 70%;

  & .Link {
    align-self: right;
    background: linear-gradient(99.17deg, #77aceb 12.18%, #1e4489 106.22%);
    border-radius: 30px;
    color: var(--conun-white);
    font-size: 0.8rem;
    padding: 10px 20px;
  }
}
