.NavbarLayout {
  color: var(--conun-blue);
  display: flex;
  flex-direction: row;

  & .NavbarLeft {
    display: flex;

    & > a {
      align-items: center;
      display: flex;
      flex-direction: row;

      & .NetworkCircle {
        background-color: green;
        border-radius: 50%;
        height: 10px;
        margin-right: 10px;
        width: 10px;
      }
      & > p {
        margin: 0;
      }
    }

    & .ConunLogo {
      margin-right: 30px;
      width: 70px;
    }
  }

  & .Spacer {
    flex: 1;
  }
  & .NavbarRight {
    align-items: center;
    display: flex;
    & .Link {
      margin-right: 20px;
    }
  }
}
