.NavbarLayout {
  align-items: flex-start;
  color: var(--conun-blue);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  & .NavbarContainer {
    color: var(--conun-blue);
    display: flex;
    font-size: 0.8rem;
    width: 70%;

    @media only screen and (max-width: 1366px) {
      width: 90%;
    }

    & .NavbarLeft {
      align-items: center;
      display: flex;
      flex-direction: row;
      padding: 10px 0;

      & .NetworkStatus {
        align-items: center;
        display: flex;

        & .NetworkCircle {
          background-color: #00ffda;
          border-radius: 50%;
          height: 10px;
          margin-right: 10px;
          width: 10px;
        }
      }

      & .ConunLogo {
        margin-right: 30px;
        width: 70px;
      }
    }

    & .Spacer {
      flex: 1;
    }

    & .NavbarRight {
      align-items: center;
      display: flex;

      & .ToolbarHorizontal {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .NavProducts {
          align-items: center;
          display: flex;
          flex-direction: column;
          position: relative;

          & .ProductsTab {
            padding: 10px 20px;

            &:hover {
              background: linear-gradient(
                99.17deg,
                #a0b6e4 12.18%,
                #83c8e3 106.22%
              );
              border-radius: 30px;
              color: var(--conun-white);
              cursor: pointer;
            }
          }

          & .ProductsItems {
            display: none;

            &.displayItems {
              background-color: var(--conun-white);
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              font-weight: bold;
              margin-top: 10px;
              margin-top: 20px;
              padding: 10px 30px;
              position: absolute;
              top: 30px;
            }

            & .ProductsItem {
              padding: 10px;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }

        & .NavItems {
          display: flex;
          flex-direction: row;

          & .Item {
            padding: 10px 20px;

            &:hover {
              background: linear-gradient(
                99.17deg,
                #a0b6e4 12.18%,
                #83c8e3 106.22%
              );
              border-radius: 30px;
              color: var(--conun-white);
            }
          }
        }
      }
    }
  }
}
