.SocialIcons {
  display: flex;

  & > .SocialIcon {
    width: 25px;
  }

  &.vertical {
    flex-direction: column;
    margin-right: 30px;
  }

  &.horizontal {
    flex-direction: row;
    gap: 9px;
  }

  & svg:hover {
    opacity: 0.8;
  }
}
