.UseCaseSection {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  width: 100%;

  & .UseCaseContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20%;

    & .Title {
      background-color: var(--conun-white);
      color: var(--conun-blue);
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 95px;
      padding: 0 auto;
      padding: 10px 20px;
      text-align: center;
      width: 300px;
    }

    & .CardContainer {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      row-gap: 46px;
      width: 100%;

      & .UseCaseCard {
        background: rgb(255 255 255 / 50%);
        border: 1px solid #085ed5;
        display: flex;
        flex: 400px 0.5 1;
        flex-direction: column;
        gap: 20 46;
        height: 650px;
        justify-content: space-between;
        max-height: 700px;
        max-width: 500px;
        padding: 40px;
        width: 32%;

        & .ImageContainer {
          width: 100%;
        }

        & .TextContainer {
          display: flex;
          flex-direction: column;
          font-size: 0.8rem;
          font-weight: normal;
          height: 80%;
          justify-content: space-around;
          line-height: 172%;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .UseCaseSection {
    & .UseCaseContainer {
      width: 90%;

      & .CardContainer {
        & .UseCaseCard {
          height: 500px;
          width: 100%;

          & .ImageContainer {
            width: 70%;
          }

          & .TextContainer {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
