.UseCaseSection {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  width: 100%;

  & .UseCaseContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;

    & .Title {
      background-color: var(--conun-white);
      color: var(--conun-blue);
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 95px;
      padding: 0 auto;
      padding: 10px 20px;
      text-align: center;
      width: 300px;
    }

    & .CardContainer {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      row-gap: 46px;
      width: 100%;

      & .UseCaseCard {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #085ed5;
        display: flex;
        flex-direction: column;
        height: 650px;
        justify-content: space-between;
        max-height: 700px;
        padding: 40px;
        width: 32%;

        & .ImageContainer {
          width: 100%;
        }

        & .TextContainer {
          display: flex;
          flex-direction: column;
          font-size: 0.8rem;
          font-weight: normal;
          height: 80%;
          justify-content: space-around;
          line-height: 172%;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .UseCaseSection {
    & .UseCaseContainer {
      width: 90%;
    }
  }
}
