.UseCaseSection {
  align-items: center;
  background-color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  padding: 200px 350px;

  & .Title {
    background-color: var(--conun-white);
    color: var(--conun-blue);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 95px;
    padding: 10px 30px;
  }
  & .CardContainer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 46px;
    width: 100%;

    & .UseCaseCard {
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #085ed5;
      height: 550px;
      padding: 40px;
      width: 32%;

      & .ImageContainer {
        height: 30%;
        width: 80%;
      }

      & .TextContainer {
        height: 70%;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .UseCaseSection {
    padding-top: 100px;
    width: 100%;

    & .CardContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      width: 100%;

      & .UseCaseCard {
        height: auto;
        width: 80%;

        & .ImageContainer {
          height: 30%;
          margin-bottom: 0;
        }
      }
    }
  }
}
