.DownloadContainer {
  align-items: center;
  background-image: url("../../../assets/background/main_haader.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;

  & .SocialIcons {
    margin-top: 0;
  }

  & .HorizontalCard {
    color: var(--conun-blue);
    height: 100%;
    padding: 30px;
    width: 70%;

    & .TextContainer {
      display: flex;
      flex-direction: column;
      width: 50%;

      & .Description {
        color: var(--conun-blue);
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 28px;
        margin-top: 18px;
      }

      & .DownloadButtonContainer {
        margin-top: 10%;

        & .SubTitle {
          margin-bottom: 14px;
        }

        & .Button {
          font-size: 0.8rem;
          margin-right: 30px;
        }

        & .ButtonContainer {
          display: flex;
        }
      }
    }

    & .ImageContainer {
      height: 100%;
      width: 40%;
    }
  }
}
@media only screen and (max-width: 800px) {
  .DownloadContainer {
    display: 100%;

    & .SocialIcons {
      display: none;
    }

    & .HorizontalCard {
      background-color: var(--conun-white);
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
      height: 70%;
      position: relative;
      width: 90%;

      & .TextContainer {
        padding: 10% 5%;
        width: 100%;

        & .DownloadButtonContainer {
          & .Button {
            margin-top: 10px;
            padding: 2.5%;
          }

          & .ButtonContainer {
            display: flex;
            flex-direction: column;
            width: 50%;
          }
        }
      }

      & .ImageContainer {
        bottom: 0;
        display: flex;
        height: 200px;
        opacity: 0.7;
        position: absolute;
        right: 0;
        width: 200px;
      }
    }
  }
}
