.TermsAndConditions {
  display: flex;
  width: 100%;

  & .NavigationContainer {
    align-items: center;
    background: var(--conun-bg-blue-dark);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 200px;
    padding: 200px 0;
    width: 40%;

    @media only screen and (max-width: 768px) {
      max-width: 200px;
      min-width: 160px;
      padding: 100px 0;
    }

    & .Navigation {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      margin-top: 110px;
      max-width: 200px;

      @media only screen and (max-width: 768px) {
        left: 20px;
        max-width: 135px;
        top: 10px;
      }

      & .NavItems {
        color: var(--conun-green);
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 21px;
        text-align: left;
        text-transform: uppercase;

        &:hover {
          color: #0b5464;
        }
      }
    }
  }

  & .TermsAndConditionsContainer {
    align-items: center;
    background: var(--conun-bg-blue);
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    width: 85%;

    @media only screen and (max-width: 768px) {
      padding: 100px 0;
    }

    & .TermsAndConditionContent {
      max-width: 1200px;
      width: 80%;

      & .MainTitle {
        font-size: 1.8rem;
        text-transform: uppercase;
      }

      & .Section {
        & .Title {
          margin-top: 40px;
        }

        & .Line {
          margin-bottom: 10px;
        }

        & .SubList {
          margin-bottom: 20px;
        }
      }
    }
  }
}
