.TermsAndConditions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  & .NavigationContainer {
    align-items: center;
    background: var(--conun-bg-blue-dark);
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    width: 30%;

    & .Navigation {
      font-size: 0.8rem;
      margin-top: 80px;
      width: 60%;

      & .NavItems {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  & .TermsAndConditionsContainer {
    align-items: center;
    background: var(--conun-bg-blue);
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    padding: 200px 0;
    width: 70%;

    & .TermsAndConditContent {
      width: 80%;

      & .MainTitle {
        font-size: 2rem;
        text-transform: uppercase;
      }

      & .Title {
        margin-top: 40px;
      }
    }

    & .Paragraph {
      margin-top: 10px;
    }
  }
}
