.NewsCard {
  align-items: center;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr auto;
  width: 100%;

  &.large {
    grid-template-areas: "title title" "caption caption" "date author";
    grid-template-rows: auto 40px 1fr;
  }

  &.small {
    grid-template-areas: "title title" "date author";
    grid-template-rows: 1fr 1fr;
  }

  & .Title {
    font-size: 18px;
    font-weight: 600;
    grid-area: title;
    line-height: 21px;
    text-transform: uppercase;
  }

  & .Caption {
    font-size: 14px;
    font-weight: 400;
    grid-area: caption;
  }

  & .DateLabel {
    align-items: center;
    display: flex;
    font-weight: 500;
    gap: 6px;
    grid-area: date;

    &.large {
      font-size: 14px;
    }

    &.small {
      font-size: 11px;
    }

    & .Source {
      text-transform: uppercase;
    }
  }

  & .Author {
    align-items: center;
    color: var(--topic-text-blue);
    display: flex;
    font-size: 11px;
    gap: 5px;
    grid-area: author;
    height: 28px;
    justify-content: flex-end;
    justify-self: flex-end;

    & .Picture {
      align-items: center;
      background-color: blueviolet;
      border-radius: 50%;
      color: lightgreen;
      display: flex;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 20px;
      font-weight: 400;
      height: 28px;
      justify-content: center;
      width: 28px;
    }

    & .Name {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}
