.Main {
  height: 100vh;
  width: 100%;

  & .Dots {
    bottom: 100px;
    margin-left: 50%;
    position: absolute;
    z-index: 1000;

    & .Dot {
      background-color: var(--conun-white);
      border: none;
      border-radius: 50%;
      height: 9px;
      width: 9px;
    }
    & .active {
      background-color: var(--conun-blue);
    }
  }
  & .DownloadBar {
    align-items: center;
    background-color: #77aceb;
    bottom: 0;
    color: var(--conun-white);
    display: flex;
    font-size: 16px;
    font-weight: normal;
    height: 54px;
    justify-content: center;
    position: absolute;
    width: 100%;

    & .DownloadLink {
      font-weight: 600;
      margin-left: 20px;
      text-decoration: underline;
    }
  }
}
