.Footer {
  align-items: center;
  background-color: var(--blue);
  color: var(--conun-bg-blue);
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 500px;
  justify-content: flex-start;
  padding: 50px 0;
  position: relative;

  & .Arrow {
    align-self: flex-end;
    fill: white;
    position: absolute;
    right: 10%;
    width: 3%;

    &:hover {
      fill: rgb(218 219 231);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  & .LinkSection {
    align-items: flex-start;
    column-gap: 5%;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    width: 100%;
  }

  & .CopyRightLine {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: normal;

    & .LineTop {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    & > p {
      margin-top: 10px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .Footer {
    & .CopyRightLine {
      & .LineTop {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
