.UpdateCard {
  align-items: center;
  border-bottom: 1px solid #1e4489;
  color: var(--conun-blue);
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 45px;
  height: 25%;
  padding: 10px 60px;
}
