.WhitePaperPage {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;

  & .WhitePaperCard {
    align-items: center;
    background-image: url("../../assets/background/whitepaper-bg-green.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--conun-white);
    display: flex;
    flex-direction: column;
    height: 484.78px;
    padding: 0 30px;
    padding: 0 67px;
    text-align: center;
    width: 20%;

    &.whitepaperGreen {
      background-image: url("../../assets/background/whitepaper-bg-blue.png");
    }
    & .LanguageSelector {
      background-color: var(--conun-white);
      color: var(--conun-blue);
      margin-top: 10px;
      width: 100%;

      & .Selected {
        border-radius: 30px;
      }
      & .LanguageOptions {
        border: 1px solid black;
        list-style: none;
      }
    }
  }
}
