.MainSlide {
  align-items: center;
  background-image: url("../../assets/background/main_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;

  & .HorizontalCard {
    height: 65%;
    max-width: 1200px;
    position: relative;
    width: 70%;

    & .TextContainer {
      display: flex;
      flex-direction: row;
      width: 40%;

      & .TextBox {
        display: flex;
        flex-direction: column;

        & .Caption {
          text-transform: uppercase;
        }

        & .Description {
          color: var(--conun-blue);
          font-size: 1rem;
          font-weight: normal;
          margin-bottom: 60px;
        }

        & .ButtonContainer {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
        }

        & .Button {
          background-image: var(--conun-blue-gradient-bg);
          background-size: 200% auto;
          border-radius: 30px;
          color: var(--conun-white);
          font-size: 0.8rem;
          padding: 10px 20px;
          transition: all 0.5s ease-in-out;
        }

        & .Button:hover {
          background-position: right center;
        }
      }
    }

    & .ImageContainer {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .MainSlide {
    padding-bottom: 100px;

    & .HorizontalCard {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      & .TextContainer {
        width: 90%;

        & .TextBox {
          z-index: 1;

          & .Description {
            font-size: 1rem;
          }
        }
      }

      & .ImageContainer {
        bottom: 0;
        margin-bottom: 10px;
        margin-right: 20px;
        opacity: 0.7;
        position: absolute;
        right: 0;
        z-index: 0;
      }
    }
  }
}
