.VideoPage {
  background-color: var(--conun-bg-blue);
  padding: 0 20%;

  @media only screen and (max-width: 800px) {
    padding: 0 10%;
  }

  & .VideoContainer {
    padding-top: 56.25%;
    position: relative;
  }
}
